.container-main {
	display: flex;
	margin: 50px 20%;
}

.article-wrapper {
/*	border-radius: 4px;
	box-shadow: 1px 1px 4px 0; black;*/
}

.article-tile {
	padding: 20px;
	border-radius: 4px;
}

@media screen and (max-width: 1300px) {
	.article-tile {
		margin: 0;
	}
}

@media screen and (max-width: 1025px) {
	.container-main {
		margin: 40px 10%
	}
	.header-img {
		margin-top: 50px;
	}
}

@media screen and (max-width: 600px) {
	.container-main {
		margin: 20px;
	}

}
