h2 {
	margin: 40px 10%;
}

h3 {
	margin: 0px;
	font-size: 1rem;
}

.main-wrapper {
	margin: 20px 20px;
}

.socials {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr ;
	width: 80%;
	grid-gap: 50px;
	margin: 0 10%;
}

.social-button {
	cursor: pointer;
	border-radius: 20px;
	padding: 0;
	display: flex;
	align-items: center;
}

footer {
	margin-top: 20%;
}

@media screen and (max-width: 1400px) {
	.socials {
		width: 100%;
		margin: 0px;
	}
	h2 {
		margin: 40px 0;
	}
}

@media screen and (max-width: 1400px) {
	.socials {
		grid-gap: 40px;
	}
	h2 {
		margin: 40px 0;
	}
}

@media screen and (max-width: 680px) {
	.socials {
		grid-template-columns: 1fr 1fr;
		grid-gap: 30px;
	}
}