.main-wrapper {
	margin: 20px 20px 40px 20px;
	padding: 0;
}

.content-wrapper {
	margin-top: 0;
	padding: 0;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.impossible-list {
	list-style: none;
	margin: 0px;
	padding-left: 20px;
}

li {
	font-size: 1.1rem;
	line-height: 28px;
}

h2 {
	font-size: 2rem;
	margin: 30px 0 0px 0;
}

h3 {
	margin: 20px 0 10px 0;
	font-size: 1.4rem;
}

h4 {
	margin: 15px 0 8px 0;
	font-size: 1.2rem;
}

p {
	font-size: 1.1rem;
	margin: 0;
	padding: 0;
}

.mouseover {
	position: relative;
	display: flex;
}

.mouseover .tooltiptext {
	visibility: hidden;
	background-color: #6A9FCA;
	color: #fff;
	font-size: 15px;
	max-width: 300px;
	line-height: 20px;
	text-align: center;
	padding: 5px;
	margin-left: 0px;
	margin-top: 30px;
	border-radius: 4px;
	position: absolute;
}

.mouseover:hover .tooltiptext {
 	visibility: visible;
}


.box1 {
	margin: 20px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 40px;

}

.box2 {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	border-radius: 10px;
}

.colourimg {
	width: 100%;
}

@media screen and (max-width: 900px) {
	.content-wrapper {
		display: grid;
		grid-template-columns: 1fr;
	}
}

@media screen and (max-width: 600px) {
	.impossible-list {
		padding: 0;
	}
}