.content-container {
	margin: 50px 100px;
	display:  grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 30px;
}

.image {
	border-radius: 2px;
}

.photography-text {
	font-size: 1.3rem;
	margin-top: 10px;
}

@media screen and (max-width: 1200px) {
	.content-container {
		margin: 30px 50px;
	}
}

@media screen and (max-width: 900px) {
	.content-container {
		margin: 20px 20px;
	}
}

@media screen and (max-width: 800px) {
	.content-container {
		grid-template-columns: 1fr;
	}
}