h2 {
	margin: 0 0 30px 0;
	font-size: 1.5rem;
}

.heading {
	margin: 15px 0 30px 0;
}

.content-container {
	margin: 40px 10%;
}

.albums-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 80px;
}

.album-cover{
}

.image {
	border-radius: 2px;
}

@media screen and (max-width: 1025px) {
	.content-container {
		margin: 10px 20px;
	}

	.albums-container {
		grid-gap: 80px;
	}
}

@media screen and (max-width: 800px) {
	.albums-container {
		grid-template-columns: 1fr;
	}
}