* {
	font-family: 'Nunito', sans-serif;
	box-sizing: border-box;
	/*color: #112A46;*/
}

h1 {
	font-size: 1.8rem;
}

h2 {
	margin: 0 0 10px 0;
}

p {
	grid-column: 2;
	margin: 0 0 10px 0;
	display: inline-block;
}

body {
	margin: 0;
	padding: 0;
	background-color: #F3F3F3;
}

.logo-decoration {
	color: #F3F3F3;
	text-decoration: none;
}

.decoration {
	text-decoration: none;
	color: #3E6F84;
}

.no-decoration {
	text-decoration: none;
	color: black;
}

.heading-underline{
    position: relative;}
.heading-underline:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: -1px;
	background-color: #F3F3F3;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.4s ease;
	border-radius: 4px;}
.heading-underline:hover:before {
	visibility: visible;
	transform: scaleX(1);}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 10%;
	background-color: #3E6F84;
	color: #F3F3F3;
	padding: 0 20px 0 20px;
}

.logo {
	font-size: 20px;
	letter-spacing: 0.8px;
}

.nav-links {
	display: flex;
	width: 400px;
	justify-content: space-between;
	align-items: center;
	list-style: none;
	transition: all 0.4s ease;
}

.nav-links li {
	color: #F3F3F3;
	letter-spacing: 0.5px;
	font-size: 1.1rem;
	opacity: 1;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	height: 2px;
	width: 30px;
	border-radius: 100px;
	background-color: white;
	margin: 7px;
	transition: all 0.4s ease;
}

footer {
	padding: 50px 10%;
	margin: 0px;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 750px) {
	body {
		overflow-x: hidden;
	}
	.nav-links {
		position: absolute;
		top: -0px;
		right: 0px;
		margin: 0;
		background-color: #3E6F84;
		justify-content: space-around;
		padding: 30% 0 35% 0;
		font-size: 1.2rem;
		display: none;
	}
	.nav-links li {
		font-size: 2rem;
		opacity: 0;
	}
	.burger {
		display: inline-block;
	}
}

.nav-active {
	display: block;
	background-color: #3E6F84;
	display: flex;
	min-height: 500px;
	width: 100%;
	height: 100%;
	flex-direction: column;
	align-items: center;
}

.vertical-scroll {
	overflow-y: hidden;
	overflow-x: hidden;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-3px, 15px);
	margin: 0;
}
.toggle .line2 {
	opacity: 0;
}
.toggle .line3 {
	transform: rotate(45deg) translate(-3px,-4px);
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateY(50px);

	}
	to {
		opacity: 1;
		transform: translate(0px);
	}
}