* {
	font-family: 'Nunito', sans-serif;
}

.decoration {
	color: #8C8C8C;
	text-decoration: none;
}

.no-decoration {
	text-decoration: none;
	color: black;
}

body {
	margin: 0;
	padding: 0;
	background-color: #F3F3F3;
}

nav {
	margin: 0;
	display: flex;
	justify-content: space-between;
	padding: 15px 20px 5px 20px;
}

.heading-underline{
    position: relative;}
.heading-underline:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 5px;
	background-color: #8C8C8C;
	left: 0px;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.4s ease;
	border-radius: 4px;}
.heading-underline:hover:before {
	visibility: visible;
	transform: scaleX(1);}

.underline{
    position: relative;}
.underline:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 1px;
	background-color: #8C8C8C;
	left: 0px;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.4s ease;
	border-radius: 4px;}
.underline:hover:before {
	visibility: visible;
	transform: scaleX(1);}

h1 {
	font-size: 1.8rem;
	margin: 0 10px 8px 0;

}

hr {
	margin: 0 20px;
}

h2 {
	margin: 0 0 10px 0;
}

p {
	grid-column: 2;
	margin: 0 0 10px 0;
	display: inline-block;
}

.socials-container {
	margin: 5px 0;
}

.tile-image {
	border-radius: 4px;
	margin: 10px 0;
}

.information {
	display: flex;
	justify-content: space-between;
}

.tile-date {
	padding: 5px 0;
	font-size: 1.1rem;
	margin: 5px 0;
}

.tile-tagger {
	padding: 5px 10px;
	border-radius: 4px;
	display: inline-block;
	margin: 5px 0;
	font-size: 1rem;
}

.technology {
	background-color: #0084A2;
	color: white;
}

.book-review {
	background-color: #A360D9;
	color: white;
}

.podcast-review {
	background-color: #83A587;
	color: white;
}

.technology-middle{
    position: relative;}
.technology-middle:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	top: 0px;
	background-color: #0084A2;
	left: 0px;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.4s ease;
	border-radius: 4px;}
.technology-middle:hover:before {
	visibility: visible;
	transform: scaleX(1);}

.book-review-middle{
    position: relative;}
.book-review-middle:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	top: 0px;
	background-color: #A360D9;	
	left: 0px;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.4s ease;
	border-radius: 4px;}
.book-review-middle:hover:before {
	visibility: visible;
	transform: scaleX(1);}

.podcast-review-middle{
    position: relative;}
.podcast-review-middle:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 5px;
	top: 0px;
	background-color: #83A587;	
	left: 0px;
	visibility: hidden;
	transform: scaleX(0);
	transition: all 0.4s ease;
	border-radius: 4px;}
.podcast-review-middle:hover:before {
	visibility: visible;
	transform: scaleX(1);}

footer {
	padding: 50px 10%;
	margin: 0px;
	display: flex;
	justify-content: center;
}

@media screen and (max-width: 400px){
	nav {
		flex-wrap: wrap;		
	}
}