header{
  background-color: white;
  height: 89px;
}
body{
  background-color: white;
  margin: 0;
}
header h1 {
    margin: 0;
    color: grey;
    font-size: 25px;
    padding: 30px;
    font-family: 'Oswald', sans-serif;
}
header h2 {
  left: 248px;
  color: grey;
  font-family: 'Oswald' , sans-serif;
  position: absolute;
  top: 27px;
  font-size: 15px;
}
header img{
  position: absolute;
  right: 40px;
  top: 40px:
  height: 40px;
  width: 40px;
}
